<%- include("./partials/header") %>
<div class="ui container">
  <% post.forEach(function(post){ %>
    <a href="/post/<%= post._id%>">  
      <img id="explore" src="<%= post.image%>" >
      <hr>
      <span><%= post.comments.length%></span>
    </a>
  <% });%>
</div>
<br>
<br>
<%- include("./partials/footer") %>