<%- include("./partials/header") %>
<div class="ui container">
  <% post.forEach(function(post){ %>
    <!-- <div class="ui segment" >
      <a href="/post/<%= post._id%>">
          <span><%= post.title%></span>
          <br><br>
          <img src="<%= post.image%>" class="ui fluid image" >
      </a>
    </div> -->
    <a href="/post/<%= post._id%>">
      <img id="explore" src="<%= post.image%>" >
      <hr>
      <span><%= post.comments.length%></span>
    </a>
  <% });%>
</div>
<br>
<br>
<%- include("./partials/footer") %>