<%- include("./partials/header") %>
<div class="ui container">
    <div class="ui middle  aligned animated list">
        <% if(user==null){%>
            <div class="item">
                <h3>Start chat</h3>
            </div>
        <%}else{%>
            <% user.forEach(function(user){ %>
                <% if(loginuser==user.sender){%>
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                <a href="/message/<%=user.recieverid%>"><h2><%= user.reciever %></h2></a> 
                            </div>
                        </div>
                    </div>
                <%}else{%>
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                <a href="/message/<%=user.senderid%>"><h2><%= user.sender %></h2></a> 
                            </div>
                        </div>
                    </div>
                <%}%>
            <% });%>
        <%}%>
        
    </div>
</div>
<%- include("./partials/footer") %>