<%- include("./partials/header") %>
<div class="ui container">
    <div class="ui segment">
        <img src="<%= user.image %>" class="ui fluid image">
     </div> 
    <div class="ui middle aligned divided list">
        <div class="item">
            <div class="content">
                <div class="header">
                   Name :    <%= user.name %>    
                </div>
                
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    About Yourself: <%= user.bio %>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    Website: <a href="<%= user.website %> ">Open this user website</a>      
                </div>
            </div>
        </div>
        <br>
        <div class="ui equal width grid">
            <div class="column">
                <a href="/editprofile" class="ui basic fluid teal button  " id="edit" >Edit Profile</a>
            </div>
            <div class="column">
                <a href="/friend" class="ui basic fluid blue button">Friend (<span><%= user.friends.length%></span>)</a>
            </div>
            <div class="column">
                <a href="/post" class="ui basic fluid green button">Upload Post</a>
            </div>
        </div>
    </div>
    <hr>
    <% post.forEach(function(post){ %>
        <div class="ui segment" >
            <a href="/post/<%= post._id%>">
                <span><%= post.title%></span>
                <br><br>
                <img src="<%=post.image%>" class="ui fluid image" >
            </a>
        </div>
    <% });%>
</div>
<%- include("./partials/footer") %>