<%- include("./partials/header") %>
<div class="ui container">
    <div class="ui text container">
        <div class="ui segment">
            <div class="doubling stackable two column ui grid container">
                <div class="eight wide  column">
                    <img class="ui centered medium image" src="/image/<%= user.image %>" id="ppic">
                </div>
                <div class="eight wide  column">
                    <div class="item">
                        <div class="ui equal width grid">
                            <div class="column">
                                <h2><%= user.username %></h2> 
                            </div>
                            <div class="column">
                                <a href="/editprofile" class="ui basic grey button" id="edit" >Edit </a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="item">
                        <div class="ui equal width grid">
                            <div class="column">
                                <a href="/mypost"><h4><span><%= user.posts.length%></span> Posts </h4></a>
                            </div>
                            <div class="column">
                                <a href="/myblog"><h4><span><%= user.blogs.length%></span> Blogs </h4></a>
                            </div>
                            <div class="column">
                                <a href="/friend" ><h4><span><%= user.friends.length%></span> Friends</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui large message">
            <div class="item">
                <%= user.name%>
            </div>
            <hr>
            <div class="item">
                <p><%= user.bio%></p>
            </div>
            <hr>
            <div class="item">
                <%= user.website%>
            </div>
        </div>
    </div>
    <br>
</div>
<%- include("./partials/footer") %>