<%- include("./partials/header") %>
<div class="ui container">
    <div class="ui segment">
        <span><%= user.username %></span>
        <img src="<%= user.image %>" class="ui fluid image">
     </div> 
    <div class="ui middle aligned divided list">
        <div class="item">
            <div class="content">
                <div class="header">
                   Name :    <%= user.name %>    
                </div>
                
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    About Yourself: <%= user.bio %>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    Website: <a href="<%= user.website %> ">Open this user website</a>      
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h3>Posts</h3>
    <% post.forEach(function(post){ %>
        <div class="ui segment" >
            <a href="/post/<%= post._id%>">
                <span><%= post.title%></span>
                <br><br>
                <img src="<%= post.image%>" class="ui fluid image" >
            </a>
        </div>
    <% });%>
</div>
<%- include("./partials/footer") %>
