<%- include("./partials/header") %>
<div class="ui container">
    <div class="ui segment">
        <span><%= user.username %></span>
        <img src="<%= user.image %>" class="ui fluid image">
     </div> 
    <div class="ui middle aligned divided list">
        <div class="item">
            <div class="content">
                <div class="header">
                   Name :    <%= user.name %>    
                </div>
                
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    About Yourself: <%= user.bio %>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    Website: <a href="<%= user.website %> ">Open this user website</a>      
                </div>
            </div>
        </div>
    </div>
    <div class="ui equal width grid">
        <% if(status == 1){ %>
            <div class="column">
                <form action="/user/<%=user.id%>/accept" method="post">
                    <button id="friend" class="ui basic fluid blue button">Accept</button>
                </form>
            </div>
            <div class="column">
                <form action="/user/<%=user.id%>/decline" method="post">
                    <button id="friend" class="ui basic fluid blue button">Decline</button>
                </form>
            </div>
        <% } else if (status == 2){%>
            <div class="column">
                <form action="/user/<%=user.id%>/cancle" method="post">
                    <button id="friend" class="ui basic fluid red button">Cancle Request</button>
                </form>
            </div>
        <% } else if (status == 3){%>
            <div class="column">
                <form action="/removefriend" method="post">
                    <button id="friend" class="ui basic fluid blue button">Remove friend</button>
                </form>
            </div>
        <% }else{%>
            <div class="column">
                <form action="/user/<%=user._id%>" method="post">
                    <button id="friend" class="ui basic fluid blue button">Add friend</button>
                </form>
            </div>
        <% } %>
        
        <div class="column">
            <a href="/message/" class="ui basic fluid green button">Message</a>
        </div>
    </div>
    <hr>
    <h3>Posts</h3>
    <% post.forEach(function(post){ %>
        <div class="ui segment" >
            <a href="/post/<%= post._id%>">
                <span><%= post.title%></span>
                <br><br>
                <img src="<%= post.image%>" class="ui fluid image" >
            </a>
        </div>
    <% });%>
</div>
<%- include("./partials/footer") %>
